{% extends 'layout.html' %}
{% load static %}
{% block nav %}
<div class="topnav">

    <!-- Centered link -->
    <div class="topnav-centered">
      <a href="{% url 'home' %}"><img src="{% static 'image/scope-india-logo-bird.png' %}" alt="" height="40px"></a>
    </div>
    
    <a href="{% url 'home' %}" class="active">Home</a>
    <a href="{% url 'contact' %}">Contact</a>
    <a href="{% url 'about' %}">About</a>
    
    <!-- Right-aligned links -->
    <div class="topnav-right">
      <a href="{% url 'registration' %}">Registration</a>
      <a href="{% url 'login' %}">Login</a>
      <a href="{% url 'dashboard' %}">Dashboard</a>
    </div>
    
  </div>
{% endblock %}

{% block body %}
<div  style="width: 500px; margin-top: 150px; margin-left: 400px;">
  <a href="{% url 'home' %}"><img src="{% static 'image/scope-india-logo-home-page.png' %}" alt=""></a>
</div>
{% endblock %}